html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.satic-area {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../img/poster-about.jpg) no-repeat center;
	background-size: cover;
}

.dynamic-area1 {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/poster-drop-animate2.png) repeat-x;
	background-size: cover;
	animation: posterDrop 50s linear infinite;
}

.dynamic-area2 {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/poster-drop-animate1.png) repeat-x;
	background-size: cover;
	animation: posterDrop 25s linear infinite;
}

@keyframes posterDrop {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 100% 0;
	}
}


* {
	box-sizing: border-box;
}
html {
	height: 100%;
}

body {
	margin: 0;
	/*background-color: #002;*/
	/*background-image: radial-gradient(circle at center, #046, #002);*/
	color: #fff;
	font-family: Arial, sans-serif;
	overflow: hidden;
}

.container {
	width: 1000px;
	perspective: 2000;
	-webkit-perspective: 2000;
	/*overflow: auto;*/
	max-height: 100%;
}

.row {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	text-align: center;
}


.col {
	width:  12.5%;
	padding: 15px 0;
	/*margin-bottom: 20px;*/
}


@media screen and (max-width: 576px) {
	.col {
		width: 50%;
	}
}


.title {
	/*margin-top: 1rem;*/
	margin: 1rem;
	font-size: 2rem;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	overflow: auto;
}


.block {

	text-align: center;
	/*margin: .1rem;*/
	background-color: white;
}

.link {
	position: relative;
	display: inline-block;
	width: 100px;
	/*padding-top: 80%;*/
	height: 100px;
	line-height: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-radius: 50%;
	font-size: 16px;
	text-align: center;
	color: #333;
	text-decoration: none;
	box-shadow: 0 0 10px 2px #33d6ff, 0 0 4px 2px #33d6ff inset, 0 0 16px #33d6ff inset;
	transition: transform 0.1s linear, box-shadow 0.15s linear;
}

.link:hover {
	box-shadow: 0 0 20px 2px #33d6ff, 0 0 4px 2px #33d6ff inset, 0 0 66px #33d6ff inset;
	transform: scale(1.1);
}

.link:before {
	content: "";
	position: absolute;
	top: 1em;
	left: 1em;
	width: 1.2em;
	height: 0.5em;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 50%;
	transform: rotate(-35deg);
}