html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  min-height: 800px;
  min-width: 1330px;
  font-family: "宋体";
}
.top {
  text-align: center;
  padding-bottom: 30px;
}
.top:first-child {
  letter-spacing: 6px;
  font-size: 40px;
}
.body > div {
  padding-top: 60px;
  padding-bottom: 60px;
}
.clear {
  clear: both;
}
.head {
  background-color: rgb(15, 168, 244);
  min-height: 100%;
}
.head .head_top {
  position: relative;
  height: 480px;
}
.head .head_top .left {
  position: absolute;
  left: 130px;
  top: 90px;
  -webkit-animation: top_left 2s linear 1s infinite;
  animation: top_left 2s linear 1s infinite;
}
@-webkit-keyframes top_left {
  3% {
    transform: translateY(-20px);
  }
  6% {
    transform: translateY(0px);
  }
  9% {
    transform: translateY(10px);
  }
  12% {
    transform: translateY(-10px);
  }
  20% {
    transform: translateY(0px);
  }
}
@keyframes top_left {
  3% {
    transform: translateY(-20px);
  }
  6% {
    transform: translateY(0px);
  }
  9% {
    transform: translateY(10px);
  }
  12% {
    transform: translateY(-10px);
  }
  20% {
    transform: translateY(0px);
  }
}
.head .head_top .right {
  position: absolute;
  right: 50px;
  top: 240px;
}
@media (max-width: 1600px) {
  .head .head_top {
    height: 320px;
  }
  .head .head_top .left {
    left: 80px;
    top: 30px;
  }
  .head .head_top .right {
    right: 40px;
    top: 180px;
  }
  body {
    min-height: 600px;
  }
}
.head_bottom ul {
  margin: auto;
  padding-left: 50px;
  width: 1000px;
}
.head_bottom ul li {
  height: 230px;
  width: 230px;
  border: 10px solid #eee;
  border-radius: 50%;
  margin-left: -50px;
  float: left;
  list-style: none;
  background: white;
  transition: all 400ms ease;
  position: relative;
}
.head_bottom ul li:hover {
  border-color: #ddd;
  background: #f7f7f7;
  z-index: 1;
  transform: rotate(360deg) scale(1.2);
}
.head_bottom ul li img {
  vertical-align: top;
  width: 100px;
  height: 100px;
}
.head_bottom ul li > div:first-child {
  position: absolute;
  top: 50px;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  left: 50%;
}
.head_bottom ul li > div:last-child {
  position: absolute;
  left: 50%;
  margin-left: -80px;
  top: 170px;
  width: 160px;
  color: #555;
  font-family: Arial;
  text-align: center;
}
.meContent {
  margin: auto;
  width: 900px;
}
.mePic {
  float: left;
  height: 390px;
  width: 390px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 1px 1px rgb(15, 168, 244);
  background-image: url(../images/me.jpg);
  background-position: center center;
}
.meIntro {
  float: right;
  height: 390px;
  background: url(../images/me_bg.png);
}
.meIntro dl {
  margin: 0;
  line-height: 26px;
  font-size: 12px;
  font-family: Arial;
}
.meIntro dt {
  float: left;
  clear: left;
  font-weight: 700;
  color: #999;
  width: 90px;
  padding-left: 10px;
}
.meIntro dd {
  float: left;
  width: 290px;
  color: #333;
  margin-left: 0;
}
.education {
  background-color: rgb(15, 168, 244);
}
.education table {
  box-shadow: 0px 0px 50px 5px rgb(180, 230, 251);
}
.education table img {
  vertical-align: top;
}
.education .backgroundPosition {
  background-image: linear-gradient(
    315deg,
    transparent 40%,
    rgb(180, 230, 251) 50%,
    transparent 50%,
    transparent 90%,
    rgb(180, 230, 251) 100%
  );
  background-size: 50px 50px;
  text-indent: 2em;
  font-family: "楷体";
  padding: 30px 20px 30px 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 22px;
  text-align: left;
  -webkit-animation: backgroundPosition 2s linear 0s infinite;
  animation: backgroundPosition 2s linear 0s infinite;
}
@-webkit-keyframes backgroundPosition {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 50px 50px;
  }
}
@keyframes backgroundPosition {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 50px 50px;
  }
}
.skill {
  padding-left: 15%;
  padding-right: 15%;
}
.skill .skillContent > div {
  background-color: rgba(15, 168, 244, 0.2);
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
  max-height: 34px;
  overflow: hidden;
  transition: all ease 1s;
}
.skill .skillContent > div > div {
  background-color: rgb(15, 168, 244);
  font-size: 30px;
  border-radius: 8px;
  text-indent: 20px;
  transition: all ease 0.6s;
}
.skill .skillContent > div:hover {
  max-height: 100px;
}
.skill .skillContent > div:hover > div {
  width: 100%;
}
.skill .skillContent > div > p {
  text-indent: 2em;
  padding-left: 1em;
  padding-right: 1em;
}
.w90 {
  width: 90%;
}
.w80 {
  width: 80%;
}
.w70 {
  width: 70%;
}
.w60 {
  width: 60%;
}
.work {
  background-color: rgb(15, 168, 244);
}
.workContent {
  min-width: 1250px;
  text-align: center;
}
.workContent ol {
  padding: 0;
  text-align: left;
  list-style-position: inside;
}
.workContent li {
  margin-top: 8px;
}
.workContent > div {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  background-color: white;
  height: 350px;
  padding: 0 40px;
  border-radius: 5px;
  margin: 0 40px;
}
.workContent img {
  vertical-align: top;
}
.workContent > div > div {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}
.workContent > div:hover > div {
  transform: rotateY(360deg);
}
.workContent div.title {
  background-color: rgb(15, 168, 244);
  line-height: 44px;
  border-radius: 5px 5px 0 0;
  font-size: 22px;
  font-weight: 400;
}
.workContent > div > p {
  font-size: 18px;
  text-indent: 2em;
  text-align: left;
}
.contactContent {
  text-align: center;
}
.contactContent a {
  display: inline-block;
  width: 13%;
  min-width: 120px;
}
.contactContent a img {
  vertical-align: top;
  border: 0;
  transition: 0.2s ease;
}
.contactContent a img:hover {
  transform: scale(1.1);
}
.footer {
  background-color: rgb(15, 168, 244);
  text-align: center;
  font-size: 12px;
  font-family: "Arial";
  line-height: 17px;
}
.scrollTop {
  position: fixed;
  bottom: 25px;
  right: -10px;
  background-image: url(../images/arr.png);
  width: 32px;
  height: 32px;
  transition: 0.5s ease;
  opacity: 0;
}
.scrollTopOn {
  position: fixed;
  bottom: 25px;
  right: 10px;
  background-image: url(../images/arr.png);
  width: 32px;
  height: 32px;
  transition: 0.5s ease;
  opacity: 1;
}
.change {
  padding: 2px;
  width: 496px;
  height: 296px;
}
.change > img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.thumb > img {
  width: 92px;
  height: 52px;
  margin: 2px;
  border: 2px solid transparent;
  float: left;
}
.thumb > img.on {
  border-color: rgb(15, 168, 244);
}
#contextMenu {
  display: none;
  position: fixed;
  z-index: 2;
  background-color: rgb(250, 250, 250);
  box-shadow: 3px 3px 1px rgb(122, 122, 122);
  padding: 2px;
  font-size: 12px;
  font-family: "Microsoft Yahei";
  border: 1px solid #eee;
  width: 200px;
}
#contextMenu ul {
  clear: left;
  margin: 0;
  height: 24px;
  padding: 0;
  border-color: rgb(250, 250, 250);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}
#contextMenu ul:hover {
  border-color: rgb(174, 207, 247);
  border-width: 1px;
  border-style: solid;
  background-color: rgb(247, 247, 247);
}
#contextMenu li {
  float: left;
  list-style: none;
  line-height: 24px;
  height: 24px;
}
#contextMenu li img {
  vertical-align: top;
}
#contextMenu li:first-child {
  width: 24px;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
}
#contextMenu li:last-child {
  width: 163px;
  padding-left: 5px;
}
#loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(251, 251, 251);
  z-index: 2;
}
#loading img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -120px 0 0 -90px;
}
