html,
body {
    margin: 0;
    height: 100%;
}

#wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    position: relative;
    width: 712px;
    height: 800px;
}

#container img {
    position: absolute;
    -webkit-transition: .1s linear;
    transition: .1s linear;
    pointer-events: none;
}

#container img.selected {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}

#sideBar {
    width: 147px;
    position: fixed;
    display: none;
    border: 1px rgb(23, 32, 233) solid;
    right: 3px;
    top: 3px;
    bottom: 3px;
}

.btn-group {
    text-align: center;
}
.btn {
    display: inline-block;
    color: rgb(23, 32, 233);
    background-color: white;
    line-height: 30px;
    padding: 0 8px;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid rgb(13, 25, 187);
    margin: 6px;
}

#regret:hover,
#restart:hover {
    background-color: rgb(113, 125, 233);
    border: 1px solid rgb(113, 125, 233);
    color: white;
}

#regret:active,
#restart:active {
    background-color: rgb(163, 185, 253);
}

#history {
    overflow: auto;
    position: absolute;
    top: 44px;
    bottom: 0;
    width: 100%;
}

#button {
    text-align: center;
}


#msg {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -130px 0 0 -105px;
}

#moves {
    padding-left: 50px;
    background-color: white;
    margin-top: 20px;
}

#moves li {
    line-height: 20px;
}

#moves li.red {
    color: rgb(173, 26, 2);
}

#moves li.black {
    color: rgb(22, 123, 127);
}
#container {
    background-color: #ddd;
}

#container>div {
    width: 66px;
    height: 66px;
    font-size: 40px;
    position: absolute;
    text-align: center;
    line-height: 72px;
    border-radius: 50%;
    color: white;
    transition: .1s linear;
    pointer-events: none;
    font-family: "黑体";
    border: 3px solid white;
  }

  #container>div.selected {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  #container>.red {
    background-color: red;
  }

  #container>.black {
    background-color: black;
  }

  #container>.ps {
    background-color: rgba(144, 144, 255, .8);
  }

  table {
    position: absolute;
    border-collapse: collapse;
    left: 36px;
    top: 36px;
    width: 641px;
    height: 721px;
    pointer-events: none;
  }

  td {
    border: 3px solid #486ae6;
    /* width: 72px; */
    height: 72px;
  }